[alias]
	ticket = "!f() { ticketnum=$1; branchName=$2; git checkout -b \"F#SRC-${ticketnum}_${branchName}\"; }; f"
	sshify = "!f() { git remote set-url origin $(git remote get-url origin | sed -En \"s/https:\\/\\/github.com\\//git@github.com:/p\") ; }; f"
[user]
	email = dg@shadowrobot.com
	name = dg-shadow
